@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;

  --grid-template-columns-auto: repeat(auto-fill, minmax(250px, 1fr));
}
::-webkit-scrollbar {
  @apply hidden;
}
* {
  font-family: outfit;
}
